#background {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #64b5f6;
}

#top-trap {
    top: -40px;
    left: -10px;
    position: fixed;
    border-left: 120vw solid white;
    animation: topseasaw 8s infinite;

    border-bottom: 20px solid transparent;
    height: 28vh;
}

@keyframes topseasaw {
    0%,
    100% {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(1.2vh) rotate(-1.6deg);
            transform: translateY(1.2vh) rotate(-1.6deg);
    }
}

#bot-trap {
    left: -10px;
    position: fixed;
    border-right: 120vw solid white;
    height: 50vh;
    animation: botseasaw 6s infinite;

    border-top: 100px solid transparent;
    top: 55vh;
}

@keyframes botseasaw {
    0%,
    100% {
        /*border-top: 100px solid transparent;
        top: 55vh;*/
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }

    50% {
        /*border-top: 60px solid transparent;
        top: 60vh;*/
        -webkit-transform: translateY(1vh) rotate(1.5deg);
            transform: translateY(1vh) rotate(1.5deg);
    }
}