#background {
    top: -500px;
    left: 500px;
    border-bottom: 1500px solid #64b5f6; /* dictates the length and top of the stripe */
    border-left: 150px solid transparent; /* dictates the angle of the top */
    border-right: 10px solid transparent; /* dictates the angle of the bottom */
    height: 0;
    width: 400px; /* dictates the height of the stripe */
    position: fixed;
    transform: rotate(80deg);
    animation: seasaw 5s infinite;
}

@keyframes seasaw {
  0%, 100% {
    border-left: 150px solid transparent;
    transform: rotate(80deg);
  }
  50% {
    border-left: 155px solid transparent;
    transform: rotate(81deg);
  }
}