body {
    color: white;
}

#main {
    position: absolute;
    bottom: 30vh;
}

#bio a {
    color: white;
    text-decoration: none;
}

#bio a:hover {
    color: #1a7cbb;
    text-decoration: none;
}