@import url('./background.css');

#home-main {
    margin-top: 30vh;
}

#home-main p {
    color: var(--bgcolor);
}

#bio a {
    color: var(--bgcolor);
    text-decoration: none;
}

#bio a:hover {
    color: var(--accentcolor);
    text-decoration: none;
}

#home-main .fa, 
#home-main .fab {
    color: var(--bgcolor);
    font-size: 24px;
    transition: color 250ms !important;
}

#home-main .fa:hover,
#home-main .fab:hover {
    color: var(--accentcolor);
    text-decoration: none;

}
