@import url('./card.css');

#portfolio-main {
    margin-top: 100vh;
    position: absolute;
    top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
}

.project {
    padding-left: 4vw;
    padding-right: 4vw;
}

.project-img {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.btn-link {
    padding: 0;
}

.card-body a {
    margin-right: 5%;
    color: var(--textcolor);
    text-decoration: none;
    font-size: 14px;
}

.card-body a:hover {
    color: var(--accentcolor);
    text-decoration: none;
}

.card-body p {
    font-size: 14px;
}