@import url('./card.css');

#portfolio-main {
    margin-top: 100vh;
    position: absolute;
    top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
}

.project {
    padding-left: 4vw;
    padding-right: 4vw;
}

.project-img {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.btn-link {
    padding: 0;
}

.no-a-style,
.no-a-style:hover,
.no-a-style:focus {
    color: inherit;
    text-decoration: none;
}

.card-body a.btn-link {
    margin-right: 5%;
}

.card-body p {
    font-size: 14px;
}