#portfolio-main {
    margin-top: 5vh;
}

.project-img {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.btn-link {
    padding: 0;
}

.no-a-style,
.no-a-style:hover,
.no-a-style:focus {
    color: inherit;
    text-decoration: none;
}

.card-body a.btn-link {
    margin-right: 5%;
}

#portfolio-back {
    font-size: 32px;
}

@media (min-width: 992px) {
    .card {
        overflow: hidden;
        flex-direction: row!important;
    }

    .horizontal_img {
        display: block;
    }

    .vertical_img {
        display: none;
    }
}

@media (max-width: 992px) {
    .card {
        overflow: hidden;
        flex-direction: column;
    }

    .horizontal_img {
        display: none;
    }

    .vertical_img {
        display: block;
    }
}
