body {
    font-family: 'Roboto', sans-serif;
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover !important;
}

#name {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 32px;
}

.fa, .fab {
    color: #fff;
    font-size: 24px;
}

.fa:hover, .fab:hover {
    color: #e17027;
    text-decoration: none;
}