html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: color 250ms;
  transition: background-color 250ms;
  transition: border-color 250ms;
  transition-delay: 0;
}

body {
    --bgcolor: #ffffff;
    --altbgcolor: #121212;
    --shapecolor: #64b5f6;
    --textcolor: #000000;
    --accentcolor: #e17027;
    font-family: 'Roboto', sans-serif;
    user-select: none;

    background-color: var(--bgcolor);
}

body.dark {
    --bgcolor: #121212;
    --altbgcolor: #ffffff;
    --shapecolor: #bb86fc;
    --textcolor: #ffffff;
    --accentcolor: #fcbb86;
    background-color: var(--bgcolor);
}

body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: var(--textcolor);
}

#name {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 32px;
}

.header {
    color: white;
}